.lang-link {
  display: flex;
  align-items: center;
}

.lang-link svg {
  fill: var(--textNormal);
}

.lang-link:hover svg {
  fill: var(--textLink);
}

@media (max-width: 767px) {
  .lang-link svg {
    transition: all 275ms 375ms;
  }
}
