.project-abbrev {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.project-abbrev-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 16px;
  background: var(--sBG);
  margin: 0;
  border-bottom: solid 4px var(--textNormal);
}

.project-abbrev-content h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.project-abbrev h3 a {
  text-decoration: none;
  color: var(--textNormal);
  margin-bottom: 1rem;
}

.project-abbrev h3 a:hover {
  text-decoration: underline;
  color: var(--textLink);
}

.project-abbrev-content p {
  margin: 0;
}

.tech-stack {
  display: flex;
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
}

.tech-stack-item {
  margin: 2px 4px 2px 0;
  padding: 2px;
  border: 2px solid;
  font-size: 0.65rem;
}

.project-links {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0;
  justify-content: flex-end;
}

.btn-project {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .project-container {
    margin: 2rem 0;
  }
  .project-abbrev {
    flex-direction: row;
    width: 100%;
    min-height: 300px;
  }
  .project-abbrev-content {
    width: 100%;
  }
}
